<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turismo Felix</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-3.4.1.min.js"></script>
    <style>
        figcaption{
            
        }
        .iconos{
            display:flex;
            justify-content:flex-start;
        }
        .iconos-detail{
            color: rgb(123, 122, 122);
            padding: 10px;
            align-content: center;
            justify-content: center;
        }
        .size{
            font-size: 1.6em;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function(){
            let params = new URLSearchParams(location.search);
            var id1 = params.get('id');
            
            $.ajax({
                type: 'get',
                url : '../Controllers/descripcion.controller.php',
                data : {id:id1},
                beforeSend:function(){
                    $("#respuesta").html("Cargando...");
                },
                success : function(res) {
                    $("#respuesta").html(res);
                },
                error : function(error) {
                    $("#respuesta").html(error);
                }
            });
        });

    </script>
</head>
<body>
    
    <div class="container">
        <a href="lugares.html" target="_self"> 
            <div class="row">
                <span class="size icon-circle-left"><center>DESCRIPCION</center></span>
            </div>
        </a>

        <hr>
        <br>
        <div class="row">
            <div id="respuesta">res</div>
        </div>


        
        <div class="row">
            <div class="iconos">
                <div class="iconos-detail">
                    <a href="index.html" target="_self">
                        <span class="size icon-home3"></span>
                        <span>Home</span>
                    </a>
                    
                </div>    
                <div class="iconos-detail">
                    <a href="buscar.html" target="_self">
                        <span class="size icon-search"></span>
                        <span>Buscar</span>
                    </a>
                </div>
                <div class="iconos-detail">
                    <a href="recomendado.html" target="_self">
                        <span class="size icon-eye-plus"></span>
                        <span>Recomendado</span>
                    </a>
                </div>
                <div class="iconos-detail">
                    <a href="galeria.html" target="_self">
                        <span class="size icon-images"></span>
                        <span>Galeria</span>
                    </a>
                </div>
                <div class="iconos-detail">
                    <a href="yo.html" target="_self">
                        <span class="size icon-user"></span>
                        <span>Yo</span>
                    </a>
                </div>
            </div>
    </div>
</body>
</html>