<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turismo Felix</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-3.4.1.min.js"></script>
    <style>
        a{
            text-decoration: none;
        }
        .iconos{
            display:flex;
            justify-content:flex-start;
        }
        .iconos-detail{
            color: rgb(123, 122, 122);
            padding: 10px;
            align-content: center;
            justify-content: center;
        }
        .size{
            font-size: 1.6em;
        }
    </style>
</head>
<body>
    
    <div class="container">
        <div class="row">
            <center><h3>TURISMO PUNO</h3></center>
        </div>
        <div class="row">
            <p>Guia para visitar los sitios turisticos de la Región Puno</p>
        </div>
        <div class="row">
            <a href="lugares.html" target="_self">
                <figure class="figure">
                    <img src="img/splash1.jpg" alt="Lugares turisticos" class="figure-img img-fluid rounded">
                    <figcaption class="figure-caption">Lugares turisticos</figcaption>
                </figure>
            </a>
            <a href="restaurant.html" target="_self">
                <figure class="figure">
                    <img src="img/splash2.jpg" alt="Lugares turisticos" class="figure-img img-fluid rounded">
                    <figcaption class="figure-caption">Restarantes</figcaption>
                </figure>
            </a>
            
            <a href="hotel.html" target="_self">
                <figure class="figure">
                    <img src="img/splash3.jpg" alt="Lugares turisticos" class="figure-img img-fluid rounded">
                    <figcaption class="figure-caption">Hoteles</figcaption>
                </figure>
            </a>
            
        </div>

        
        <div class="row">
            <div class="iconos">
                <div class="iconos-detail">
                    <a href="index.html" target="_self">
                        <span class="size icon-home3"></span>
                        <span>Home</span>
                    </a>
                    
                </div>    
                <div class="iconos-detail">
                    <a href="buscar.html" target="_self">
                        <span class="size icon-search"></span>
                        <span>Buscar</span>
                    </a>
                </div>
                <div class="iconos-detail">
                    <a href="recomendado.html" target="_self">
                        <span class="size icon-eye-plus"></span>
                        <span>Recomendado</span>
                    </a>
                </div>
                <div class="iconos-detail">
                    <a href="galeria.html" target="_self">
                        <span class="size icon-images"></span>
                        <span>Galeria</span>
                    </a>
                </div>
                <div class="iconos-detail">
                    <a href="yo.html" target="_self">
                        <span class="size icon-user"></span>
                        <span>Yo</span>
                    </a>
                </div>
            </div>
     
        </div>
    </div>
</body>
</html>