<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turismo Felix</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-3.4.1.min.js"></script>
    <style>
        a{
            text-decoration: none;
        }
        .iconos{
            display:flex;
            justify-content:flex-start;
        }
        .iconos-detail{
            color: rgb(123, 122, 122);
            padding: 10px;
            align-content: center;
            justify-content: center;
        }
        .size{
            font-size: 1.6em;
        }
        .amarillo{
            background-color:yellow;
        }
    </style>
    
</head>
<body>
    
    <div class="container">
        <div class="row">
            <center><h3>PANEL DE CONTROL CENTRAL</h3></center>
        </div>
        <div class="row">
            <p>Elegir que desea agregar:</p>
            <ul>
                <a href="turisticos.html" target="_self" class="btn btn-success"><li>Nuevos Lugares Turisticos</li></a>
                <a href="hoteles.html" target="_self" class="btn btn-danger"><li>Nuevos Hoteles</li></a>
                <a href="restobar.html" target="_self" class="btn btn-info"><li>Nuevos Restaurantes</li></a>
            </ul>
        </div>
     
    </div>


   
</body>
</html>
