<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turismo Felix</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-3.4.1.min.js"></script>
    <style>
        a{
            text-decoration: none;
        }
        .iconos{
            display:flex;
            justify-content:flex-start;
        }
        .iconos-detail{
            color: rgb(123, 122, 122);
            padding: 10px;
            align-content: center;
            justify-content: center;
        }
        .size{
            font-size: 1.6em;
        }
        .amarillo{
            background-color:yellow;
        }
    </style>
    
</head>
<body>
    
    <div class="container">
        <div class="row">
            <center><h3>NUEVOS LUGARES TURISTICOS</h3></center>
            <a href="ingresar.html"> <-- Volver al Admin</a>
        </div>
        <div class="row">
            <div class="alert alert-info" id="respuesta"></div>
        </div>
        
        <div class="row">
            <form method="post" id="insertar-turismo" enctype="multipart/form-data">
                <div class="form-group">
                  <label for="txtlugar">Nombre de lugar/Restaurante/Hotel</label>
                  <input type="text" class="form-control" name="txtlugar" id="txtlugar" required>
                </div>
                <div class="form-group">
                  <label for="archivo">Imagen</label>
                  <input type="file" name="imagen" id="imagen" class="form-control-file" required>
                </div>
                <div class="form-group">
                    <label for="">Seleccione el tipo:</label>
                    <select name="cbotipo" id="cbotipo" name="cbotipo" class="form-control" required>
                      <option value="0" disabled="disabled">[Seleccione]</option>
                      <option value="lugares">Lugar Turistico</option>
                      <option value="restaurant">Restaurant</option>
                      <option value="hotel">Hotel</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="txtdescripcion">Descripcion </label>
                    <textarea name="txtdescripcion" id="txtdescripcion" name="txtdescripcion" cols="50" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <label for="txtdescripcion2">Descripcion 2</label>
                    <textarea name="txtdescripcion2" id="txtdescripcion2" name="txtdescripcion2" cols="50" rows="5"></textarea>
                </div>
                <div class="form-group" class="form-control">
                    <label for="txtprecio">Precion</label>
                    <input type="number" name="txtprecio" id="txtprecio" class="form-control" required>
                </div>
                <div class="form-group" class="form-control">
                    <label for="txttelefono">Telefono</label>
                    <input type="text" name="txttelefono" id="txttelefono" class="form-control" required>
                </div>
                <div class="form-group" class="form-control">
                    <label for="txtemail">Correo Electronico</label>
                    <input type="email" name="txtemail" id="txtemail" class="form-control" required>
                </div>
                <div class="form-group" class="form-control">
                    <label for="cbodisponible">Disponible</label>
                    <select name="cbodisponible" id="cbodisponible" class="form-control" required>
                        <option value="0" disabled="disabled">[Seleccione]</option>
                        <option value="Disponible">Disponible</option>
                        <option value="No disponible">No Disponible</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="txtdias">Dias</label>
                    <input type="number" name="txtdias" id="txtdias" class="form-control" required>
                </div>

                <div class="form-group" class="form-control" required>
                    <label for="cborecomendado">Recomendado</label>
                    <select name="cborecomendado" id="cborecomendado" class="form-control" required>
                        <option value="" disabled="disabled">[Seleccione]</option>
                        <option value="1">Si</option>
                        <option value="0">No</option>
                    </select>
                </div>

                <button type="submit" id="btnGuardar" class="btn btn-primary">Guardar</button>
              </form>
        </div>
     
    </div>

    <script>
        $(document).ready(function(){

            $("#btnGuardar").click(SubirDatos)

            function SubirDatos(evento){
                evento.preventDefault()
                var datos = new FormData($("#insertar-turismo")[0])
                $("#respuesta").html("CArgando");
                //$("#respuesta").html("<img src='img/cargando.gif'>");
                $.ajax({
                    url : '../Controllers/guardar.controller.php',
                    type: 'post',
                    data: datos,
                    contentType: false,
                    processData: false,                                          
                                                    
                    success : function(res) {
                        $("#insertar-turismo")[0].reset();
                        $("#respuesta").html(res);
                        
                    },
                    error : function(error) {
                        alert('Error' + error);
                    }
                });
            }

        });
    </script>
   
</body>
</html>
